extends layout

block content
  .row.banner
    .col-12 
      h1 Starcups
  .row 
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.rating 
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
          p 125 HighStreet, Reading, RG6 1PS
          .card.card-primary 
            .card-body 
              h2.card-title Opening hours 
              p.card-text Monday - Friday: 7:00am - 7:00pm
              p.card-text Saturday: 8:00am - 5:00pm
              p.card-text Sunday: 8:00am - 5:00pm
              p.card-text Sunday: closed
          .card.card-primary
            .card-body 
              h2.card-title Facilities
              span.badge.badge-warning Hot drinks 
              span.badge.badge-warning Food 
              span.badge.badge-warning Premium wifi
        .col-12.col-md-6
          .card.card-primary 
            .card-body 
              h2.card-title Location Map 
              img(src="https://placehold.co/200x200")
      .row 
        .col-12 
          .card.card-primary
            .card-body 
              h2.card-title Customer reviews 
                a.btn.btn-secondary.float-right(href='/location/review/new') Add review
              p.card-text 
                span 
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                  i.far.fa-star
                span Antonio Becerra
                span.date 14 february 2026
              p.card-text What a great place 
    .col-12.col-lg-3 
      p Starcups is on Loc8r because it has accessible wifi and space to sit down with your laptop and get some work done.
      p If you've been and you like it, or if you don't, please leave a review to help other people just like you.
